.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    justify-content: center;
    align-self: center;
}

.flex-container > div {
    background-color:#8dd8b4;
    width: 100px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #8dd8b4;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.boxes-absolute {
    position: absolute;
    margin-top: 100px;
    margin-left: 70px;
}

.boxes-static {
    position: static;
    margin: 65px;
    margin-left: 260px;
}

/*add white dashed border around headers */
h2, h3 {
    border-style: dashed;
    border-color: whitesmoke;
}

header.my-Header {
    border: solid;
    border-color: grey;
}

ul li {
    background-color:rgb(225,230,231);
}

h3 + b {
    background-color: rgb(225,230,231);
}

b ~ q {
    background-color: rgb(225,230,231);
}

/*background color for whole page*/
*{
    background-color: #CFDDDF;
}

body{
    border-style: ridge;
    border-color: whitesmoke;
    border-width: 1rem;
    border-radius: 2px;
    
}

@media screen and (min-width: 900px) {
    h1 {
      background-color: lightgreen;
    }
}

div{
    background-color: lightgrey;
    border: 1cm solid #8eafa1;
}

.my-Header{
    background-color: rgb(225,230,231);
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-right: 5pt;
    padding-left: 5pt;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    height: 90px;
    width: 250px;
}

q{
    margin: auto;
    display: block;
}

button:active{
    padding: (10pt, 10pt, 20pt, 20pt);
    margin: (2%, 2%, 5%, 5%);
    width: 10em;
    background-color: #b7d88d;
}

.my-Header:hover{
    background-color: rgb(134, 177, 143);
}

#title{
    font-family: 'Parisienne', cursive;
    color: darkslategrey;
    text-decoration: underline-overline;
    text-align: center;
    max-width: 100%;
    min-width: 50%;
}

#intro{
    display: inline-block;
    color: hsl(172, 6%, 36%)
}

[class ^= my]{
    color: hsl(153, 1%, 23%);
}
