*{
    background-color: #CFDDDF;
}

body{
    border-style: ridge;
    border-color: whitesmoke;
    border-width: 1rem;
    border-radius: 2px;
    margin: auto;
}

div{
    background-color: lightgrey;
    width: 10em;
    border: 1cm solid #8eafa1;
    padding: (10pt, 10pt, 20pt, 20pt);
    margin: (2%, 2%, 5%, 5%);
}

.my-Header{
    background-color: rgb(225,230,231);
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-right: 5pt;
    padding-left: 5pt;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    height: 90px;
    width: 250px;
}

q{
    display: block;
}

button:active{
    background-color: #b7d88d;
}

.my-Header:hover{
    background-color: rgb(134, 177, 143);
}

#title{
    font-family: 'Parisienne', cursive;
    color: darkslategrey;
    text-decoration: underline-overline;
    text-align: center;
    max-width: 100%;
    min-width: 50%;
}

#intro{
    display: inline-block;
    color: hsl(172, 6%, 36%)
}

[class ^= my]{
    color: hsl(153, 1%, 23%);
}